<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        @!section('title')
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Link to StyleSheets -->
    <link rel="icon" type="image/x-icon" href="images/logo-2.png">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-utilities.css">
    <link rel="stylesheet" href="css/bootstrap-utilities.min.css">
    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Stylesheets Start -->
    <link rel="stylesheet" href="css/fontawesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="css/fancybox/jquery.fancybox.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/slick.css" type="text/css"/>
    <link rel="stylesheet" href="my-style2.css" type="text/css"/>
    <link rel="stylesheet" href="css/responsive2.css" type="text/css"/>
</head>
<body>
    @!section('content')
</body>
<!-- Bootstrap Scripts -->
<script type="text/javascript" src="bootstrap.bundle.js"></script>
<script type="text/javascript" src="bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="bootstrap.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
<!-- Font Awesome Script -->
<script src="https://kit.fontawesome.com/13eeb5616a.js" crossorigin="anonymous"></script>
<!-- Theme Scripts -->
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/onpagescroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chart-function.js"></script>
<script src="js/fancybox/jquery.fancybox.min.js"></script>
<script src="js/script2.js"></script>
<script src="js/particles.js"></script>
<script src="js/gold-app2.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        setTimeout(function(){
            jQuery('.coinpool-animation').addClass('start-animation');
        }, 1000);
        setTimeout(function(){
            jQuery('.coinpool-animation .lines').addClass('active');
        }, 2000);
    });
</script>
</html>
